.option(class="bttvOption-#{storageKey}")
    span(style="font-weight:bold;font-size:14px;color:#D3D3D3;")= name
    | &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
    = description
    .bttv-switch
        input.bttv-switch-input.bttv-switch-off(type="radio" name=storageKey value="false" id="#{storageKey}False")
        label.bttv-switch-label.bttv-switch-label-off(for="#{storageKey}False") Off
        input.bttv-switch-input(type="radio" name=storageKey value="true" id="#{storageKey}True")
        label.bttv-switch-label.bttv-switch-label-on(for="#{storageKey}True") On
        span.bttv-switch-selection
