.option(class="bttvOption-#{storageKey}")
    span(style="font-weight:bold;font-size:14px;color:#D3D3D3;")= name
    | &nbsp;&nbsp;&mdash;&nbsp;&nbsp;
    = description
    .switch
        input.switch-input.switch-off(type="radio" name=storageKey value="false" id="#{storageKey}False")
        label.switch-label.switch-label-off(for="#{storageKey}False") Off
        input.switch-input(type="radio" name=storageKey value="true" id="#{storageKey}True")
        label.switch-label.switch-label-on(for="#{storageKey}True") On
        span.switch-selection
